@{
    ViewBag.Title = "Acerca De";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container bg-dark text-white">
    <h1>Como trabajo y que objetivos tengo</h1>
</div>

<div class="container">
    <h3>Como trabajo</h3>

    <p>Soy Escobar Maximiliano, soy estudiante del ISPC, Instituto Superior Politecnico Córdoba, ya finalizado el cursado de primer año y promovido a segundo año Soy desarrollador de avanzado de java</p>

    <p>Me gusta la todo lo relacionado a la tecnologia JAVA, busco estudiarlo mas de la cuenta, aprendi desarrollando en c++ y c, Asi que dada la presentacion tomense la libertad de navegar tranquilamente por la pagina</p>

    <p>Muchas Gracias por leer</p>

</div>
