@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <div class="container">
        <h3>Como trabajo</h3>

        <p>Soy Escobar Maximiliano, soy estudiante del ISPC, Instituto Superior Politecnico Córdoba, ya finalizado el cursado de primer año y promovido a segundo año Soy desarrollador de avanzado de java</p>

        <p>Me gusta la todo lo relacionado a la tecnologia JAVA, busco estudiarlo mas de la cuenta, aprendi desarrollando en c++ y c, Asi que dada la presentacion tomense la libertad de navegar tranquilamente por la pagina, Muchas Gracias por leer</p>                    <h3>Contactos</h3>

        <p class="container bg-dark"><a href="mailto:maxescobarubp@gmail.com">Enviarme un E-mail</a></p>
        <br>
        <div class="container">
            <p class="container bg-dark text-white">Linkedin</p><a href="https://www.linkedin.com/in/maxesc/"><img border="0" class="img-rounded" alt="Linkedin" src="img/linkedin.gif" width="20" height="20"></a>
        </div>
        <br>
        <p class="container bg-dark"><a href="tel:+ (0351) 373 3281 ">Teléfono: (0351) 373 3281 </a></p>

    </div>
</address>
